/* Title */
.article h2{
    color: blue;
    font-size: 12px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
/* Paragraph */
.article p{
    color: #303030;
    font: 18px/27px 'Georgia Pro',Georgia,'Droid Serif',serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* End Line */
.article a{
    color: #303030;
    text-decoration: underline #0098fe;
    font: 18px/27px 'Georgia Pro',Georgia,'Droid Serif',serif;
    }