/* Title */
.picture h3{
    color: #303030;
    overflow: hidden;
    display: -webkit-box;
    margin: 8px 0 11px;
    font: 700 16px/18px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;
    text-size-adjust: none;
    font-weight: bold;
}
/* Paragraph */
.picture p{
    color: #303030;
    overflow: hidden;
    display: -webkit-box;
    margin: 8px 0 11px;
    font: 12px/15px 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;    
}
/* End Line */
.picture hr{
    border-top: 1px solid #0098fe;
    width: 105px;
    margin: 0;
}